

extends layout

block content
  h1= title
  p Welcome to #{title}
  p about #{title}

  form(action="/create" method="post")
    div.form-group
        input(type="text" name="title" placeholder="title" required)
    div.form-group
        textarea(name="content" cols="30" rows="10" placeholder="content")
    div.form-group
        button Submit
