doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul 
        li
          a(href="http://") Home
        li
          a(href="http://") About
    block content
