:root {
  --primary: #046efd;
  --danger: #dc3545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0.5em;
}

/* img */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #000;
  text-align: center;
  border-radius: 4px;
  padding: 0.5em;
}

.bnt-primary {
  border: 1px solid var(--primary);
  color: var(--primary);
}

.btn-link {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.w-100 {
  width: 100%;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 2px;
}
.grid .item {
  height: 150px;
}

/* Carousel */
.carousel {
  white-space: nowrap;
  width: 100%;
  height: 159px;
  overflow: hidden;
}
.carousel .item {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.carousel-btn-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prev,
.next {
  display: flex;
  visibility: hidden;
  cursor: pointer;
  padding: 0.5em;
  border: none;
  background-color: #fff;
}
.carousel-indicator {
  display: flex;
  justify-content: center;
}
.carousel-indicator {
  width: 7px;
  height: 7px;
  background-color: #ddd;
  margin: 0 2px;
  border-radius: 50%;
}

/* position */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* margin */
.mx-auto {
  margin: auto;
}
.mt-1 {
  margin-top: 0.25em;
}
.mt-2 {
  margin-top: 0.5em;
}
.mt-3 {
  margin-top: 1em;
}
.ms-1 {
  margin-left: 0.25em;
}
.ms-2 {
  margin-left: 0.5em;
}
.ms-3 {
  margin-left: 1em;
}
.ms-4 {
  margin-left: 1.5em;
}
.ms-5 {
  margin-left: 3em;
}
.my-1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.my-2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.my-3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* padding */
.p-1 {
  padding: 0.25em;
}
.p-2 {
  padding: 0.5em;
}
.p-3 {
  padding: 1em;
}
.pb-1 {
  padding-bottom: 0.25em;
}
.pb-5 {
  padding-bottom: 3em;
}
.px-3 {
  padding-left: 1em;
  padding-right: 1em;
}
.py-1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.py-1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.py-3 {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* border */
.border-bottom {
  border-bottom: 1px solid #ddd;
}

/* flex */
.flex {
  display: flex;
}

.flex-equal > * {
  /* flex item을 선택한다 */
  /* flex-grow: flex item들이 같은 넓이를 갖고, flex container를 꽉채움 같은 비율로 */
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

/* background */
.bg-white {
  background-color: white;
}

/* font */
.fs-3 {
  font-size: 1.17em !important;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: smaller;
}

.text-secondary {
  color: #888;
}

.text-danger {
  color: #dc3545;
}
.text-red {
  color: red;
}

/* others */
.form-group {
  margin: 0.5em 0;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
}
