nav {
    display: flex;
    width: 100%;
    border: 1px solid #ddd;
}

nav .tabBtns {
    margin: 0px;
    padding: 5px 25px;
    border: 1px solid #ddd;
}

main {
    width: 100%;
    border: 1px solid #ddd;
}

main .contents {
    display: none;
}